<div class="position-relative">
  <div class="card-category card-large" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3))">
    <h1><%= @list.name %></h1>
  </div>
<span class="movie-tag"><%= pluralize(@list.movies.size, "movie") %></span>
</div>

<p><%= link_to "back to lists", lists_path %></p>

<%# <p><strong>bookmark</strong></p> %>
<ul class="list-group">
  <% @list.bookmarks.each do |bookmark| %>
    <li class="list-group-item">
      <%= bookmark.comment %> - <%= bookmark.movie.title %>
    </li>

    <%= link_to "Delete",
      bookmark_path(bookmark),
      data: {
        turbo_method: :delete,
        turbo_confirm: "Are you sure?"
      }, class: 'btn btn-danger' %>
  <% end %>
</ul>
<br>

<%= link_to "Ajouter un bookmark", new_list_bookmark_path(@list) %>
